[Unit]
Description=Turn on the keyboard backlight
After=network.target

[Service]
Type=oneshot
ExecStart=/bin/bash -c "echo '3-12' | tee /sys/bus/usb/drivers/usb/unbind "
RemainAfterExit=true
User=root

[Install]
WantedBy=multi-user.target
